@import url('https://fonts.googleapis.com/css2?family=Changa&family=Lato:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

body {
    background-color: #f7f6f6;
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
}

.body--nav {
    overflow: hidden;
}

.btn {
    display: inline-block;
    text-align: center;
    padding: .5rem 2rem;
    min-width: 12rem;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    transition: all .25s ease;

    &--primary {
        background-color: #01486b;
        color: #ffffff;
        transition: all .25s ease;

        &:hover {
            background-color: #007ebe;
            transition: all .25s ease;
        }
    }

    &--secondary {
        background-color: transparent;
        border: 2px solid #ffffff;
        color: #ffffff;
        text-transform: uppercase;
        transition: all .25s ease;

        &:hover {
            background-color: #ffffff;
            color: #007ebe;
            transition: all .25s ease;
        }
    }

    &:active {
        transform: scale(.95);
        transition: all .25s ease;
    }

    &--form {
        background-color: #0cb0ff;
    }
}

.nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Changa', sans-serif;
    height: 80px;
    width: 100%;
    padding: 1rem;
    background-color: #ffffff;
    color: #01486b;
    z-index: 10;
    transition: all .25s ease;

    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 65%;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        align-items: center;
    }

    &__list {
        flex-grow: 1;
        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    &__dropdown-arrow {
        margin-left: .5rem;
        padding: 0 .5rem;
    }

    &__item {
        text-align: center;
    }

    &__item--active &__dropdown-arrow {
        transform: rotate(90deg);
    }

    &__link {
        transition: all .25s ease;

        &:hover {
            color: #007ebe;
        }

        &:active {
            color: #000000;
        }
    }

    &__contact-info {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 30%;
    }

    &__contact {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    &__contact-item {
        display: flex;
        align-items: center;
    }

    &__contact-value {
        margin-left: 1rem;
    }

    &__social-media {
        flex-grow: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    &__inner-list--active {
        display: flex;
    }
}

.nav--active {
    height: 100vh;

    & .nav {
        &__list {
            display: flex;
        }

        &__inner-list {
            display: none;
        }

        &__inner-list--active {
            display: flex;
        }

        &__contact-info {
            display: flex;
        }
    }
}

@media (max-height: 500px) {
    .nav--active {
        & .nav {
            &__menu {
                height: 100%;
            }

            &__contact-info {
                display: none;
            }
        }
    }
}

@media (min-width: 1024px) {
    .nav {
        flex-direction: column-reverse;
        height: auto;
        &__contact-info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 1rem;
            width: 100%;
            max-width: 1400px;
            margin: 0 auto;
        }
        &__contact {
            flex-grow: 0;
            flex-direction: row;
        }
        &__contact-item {
            margin-left: 2rem;
            &:first-child {
                margin-left: 0;
            }
        }
        &__social-media {
            flex-grow: 0;
            width: auto;
        }
        &__social-media-item {
            margin-left: 2rem;
            &:first-child {
                margin-left: 0;
            }
        }
        &__menu {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            max-width: 1400px;
            padding: 1rem;
            margin: 0 auto;
        }
        &__list {
            flex-grow: 0;
            display: flex;
            flex-direction: row;
        }
        &__item {
            margin-left: 2rem;
            &:first-child {
                margin-left: 0;
            }
        }
    }
}

.logo {
    width: 12rem;
    height: 2.25rem;

    &-container {
        display: flex;
    }

    &-link {
        display: flex;
    }
}

@mixin hamburger-line() {
    position: absolute;
    height: 0.25rem;
    width: 100%;
    background-color: #01486b;
    border-radius: 1rem;
}

.hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: none;

    &__inner {
        @include hamburger-line();
        position: relative;
    }

    &__inner::before {
        @include hamburger-line();
        content: '';
        bottom: .5rem;
        left: 0;
    }

    &__inner::after {
        @include hamburger-line();
        content: '';
        top: .5rem;
        left: 0;
    }
}

.hamburger--active {
    & .hamburger {
        &__inner {
            background-color: transparent;
        }

        &__inner::before {
            bottom: 0;
            transform: rotate(45deg);
        }

        &__inner::after {
            top: 0;
            transform: rotate(-45deg);
        }
    }
}

@media (min-width: 1024px) {
    .hamburger {
        display: none;
    }
}

.banner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100vh + 8rem);
    color: #ffffff;

    &__container {
        padding: 0 1rem;
    }

    &--main {
        justify-content: flex-end;

        & .banner__title {
            padding: 0 1rem;
        }
    }

    &::before {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
        z-index: -2;
    }

    &::after {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #000000;
        opacity: .7;
        z-index: -2;
    }

    &--main::before {
        background-image: url('../images/Slider/Strona-glowna.jpg');
    }

    &-serwis-komputerowy::before {
        background-image: url('../images/Slider/Serwis-komputerowy.jpg');
    }

    &-uslugi::before {
        background-image: url('../images/Slider/Nasze-uslugi.jpg');
    }

    &-monitoring::before {
        background-image: url('../images/Slider/Monitoring.jpg');
    }

    &-instalacje-antenowe::before {
        background-image: url('../images/Slider/Instalacje-antenowe.jpg');
    }

    &-o-nas::before {
        background-image: url('../images/Slider/O-nas.jpg');
    }

    &-dla-klienta::before {
        background-image: url('../images/Slider/Dla-klienta.jpg');
    }

    &-cennik::before {
        background-image: url('../images/Slider/Cennik.jpg');
    }

    &-referencje::before {
        background-image: url('../images/Slider/Referencje.jpg');
    }

    &-newsy::before {
        background-image: url('../images/Slider/Newsy.jpg');
    }

    &-programy-dla-firm::before {
        background-image: url('../images/Slider/Programy-dla-firm.jpg');
    }

    &-faktura-ibiznes::before {
        background-image: url('../images/Slider/Programy-dla-firm.jpg');
    }

    &-regulamin::before {
        background-image: url('../images/Slider/Regulamin.jpg');
    }

    &-kontakt::before {
        background-image: url('../images/Slider/Kontakt.jpg');
    }

    &__title {
        top: calc(50vh - 40px);
        width: 100%;
        max-width: 650px;
        font-size: 2rem;
        text-transform: uppercase;
    }

    &--main &__title {
        position: absolute;
        text-align: center;
        max-width: none;
    }

    &--main &__title::before {
        content:'';
        top: 50%;
        left: 0;
        width: 100%;
        height: 12rem;
        position: absolute;
        background-color: #0cb0ffbf;
        transform: translateY(-50%);
        z-index: -1;
    }

    &__subtitle {
        max-width: 400px;
        margin: 1rem auto 0;
        font-family: 'Changa', sans-serif;
    }

    &__contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
        margin-top: 50%;
        width: 16rem;
        padding: 1rem;
        background-color: #0cb0ffbf;
        border-radius: 50px 0 0 50px;
        font-family: 'Changa', sans-serif;
    }
}

@media (min-width: 768px) {
    .banner {
        justify-content: flex-end;
        &__container {
            text-align: left;
            width: 100%;
            max-width: 1400px;
            margin-bottom: 5vh;
            padding: 0 4rem;
        }
        &__title {
            font-size: 3.5rem;
        }
        &--main &__title {
            font-size: 2.5rem;
        }
        &__subtitle {
            margin: 1rem 0 0;
        }
    }
}

@media (min-height: 500px) {
    .banner {
        height: 100vh;
        max-height: 800px;
        &--main {
            max-height: none;
        }
        &__contact {
            display: flex;
        }
    }
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 1rem;
    text-align: center;

    &__title {
        color: #007ebe;
        font-size: 1.75rem;
    }

    &__body {
        margin-top: 2rem;
    }

    &__btn {
        margin-top: 2rem;
    }
}

@media (min-width: 768px) {
    .section {
        &__title {
            font-size: 2.25rem;
            line-height: 1.3;
        }
    }
}

.services {
    display: flex;
    flex-direction: column;
    padding: 4rem 0 0;

    &__list-title {
        margin-bottom: 2rem;
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 2rem 1rem;
        background-color: #007ebe;

        &-image {
            padding: 0 2rem;
            width: 12rem;
        }

        &-body {
            max-width: 400px;
        }

        &-title {
            margin-top: 1rem;
            color: #01486b;
            text-transform: uppercase;
        }

        &-content {
            margin-top: 1rem;
            color: #ffffff;
        }
    }

    &__item:nth-child(even){
        background: #01486b;

        & .services__item-title {
            color: #007ebe;
        }
    }

    & .section__body {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .services {
        &__item {
            flex-direction: row-reverse;
            text-align: right;
            justify-content: flex-start;
            width: 50%;
            min-width: 300px;
            border-radius: 0 125px 125px 0;

            &-title {
                margin-top: 0;
            }
        }
        &__item:nth-child(even) {
            flex-direction: row;
            align-self: flex-end;
            text-align: left;
            border-radius:125px 0 0 125px;
        }
        &__item:nth-child(4n),
        &__item:nth-child(4n+1) {
            background-color: #007ebe;
            & .services__item-title {
                color: #01486b;
            }
        }
        &__item:nth-child(4n+2),
        &__item:nth-child(4n+3) {
            background: #01486b;
            & .services__item-title {
                color: #007ebe;
            }
        }
    }
}

.statistics {
    text-align: center;
    margin-top: 1rem;
    font-family: 'Changa', sans-serif;
    
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 1rem;

        & img {
            height: 80px;
        }

        &-content {
            display: flex;
            flex-direction: column;
        }

        &-value {
            margin-top: 1rem;
            color: #007ebe;
            font-size: 1.25rem;
            font-weight: bold;
        }
    }

    &--many {
        padding: 4rem 1rem;
        margin: 0 auto;
    }
}

@media (min-width:768px) {
    .statistics {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__item {
            flex-grow: 1;
            flex-direction: row;
            justify-content: space-between;
            text-align: left;
        }
        &__item:nth-child(2) {
            flex-direction: row-reverse;
            text-align: right;
        }
        &--many {
            justify-content: space-around;
            max-width: 1400px;
            padding: 6rem 1rem;
            & .statistics {
                &__item {
                    flex-grow: 0;
                    justify-content: center;
                }
                &__item:nth-child(2) {
                    flex-direction: row;
                    text-align: left;
                }
                &__item-content {
                    margin-left: 1rem;
                }
                &__item-value {
                    margin-top: 0;
                }
            }
        }
    }
}

.why-us,
.contact-us {
    max-width: 800px;
    margin: 0 auto;
}

.features {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 0;

    &::before {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: url('../images/Strona-glowna/Features-banner.png');
        background-size: cover;
        z-index: -2;
    }

    &::after {
        content:'asdf';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #000000;
        opacity: .7;
        z-index: -1;
    }

    &__container {
        padding: 4rem 1rem;
        background-color: #0cb0ffbf;
        color: #ffffff;
    }

    & .section__title {
        color: #ffffff;
    }
}

@media (min-width: 768px) {
    .features {
        &__container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            max-width: 450px;
            padding: 0 7rem 0 4rem;
            margin-right: calc(15vw - 3rem);
            height: 800px;
        }
        &__btn {
            text-align: center;
        }
    }
}

.contact-us {
    &__address {
        display: block;
    }
}

.media {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 1rem;
    background-color: #ffffff;

    &__logo {
        width: 100%;
        height: auto;
        max-width: 300px;
    }

    &__social-media {
        margin-top: 2rem;
    }
}

.social-media {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 250px;
}

.social-media-icon {
    width: 2rem;
}

.social-media__icon {
    width: 2.5rem;
}

.copyright {
    padding: 1rem;
    text-align: center;
    background-color: #636464;
    color: #ffffff;
}

.see-more {
    background-color: #007ebe;

    & .section {
        &__title {
            color: #01486b;
        }
        &__body {
            color: #ffffff;
            font-family: 'Changa', sans-serif;
        }
    }

    &--secondary {
        background-color: #01486b;

        & .section {
            &__title {
                color: #007ebe;
            }
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 768px) {
    .see-more {
        & .section {
            &__title {
                max-width: 650px;
            }
            &__body {
                max-width: 500px;
            }
        }
    }
}

@media (min-width: 1024px) {
    .see-more {
        text-align: right;
        margin: 8rem 10vw 0 0;
        border-radius: 0 205px 205px 0;
        & .section {
            &__btn {
                margin-top: 0;
            }
        }
        &--secondary {
            text-align: left;
            margin: 0 0 0 10vw;
            border-radius: 205px 0 0 205px;

            & .see-more__container {
                flex-direction: row-reverse;
            }

            & .see-more__text {
                align-items: flex-start;
            }
        }
        &__container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            max-width: 1400px;
            width: 100%;
        }
        &__text {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
        }
        &--programs {
            margin-top: 8rem;
            margin-bottom: 8rem;
        }
    }
}

.services-contact {
    max-width: 800px;
    margin: 0 auto;
    
    & .section {
        &__body {
            margin-top: 0;
        }
    }
    &--headless {
        .section__content {
            font-size: 1.25rem;
            font-weight: bold;
        }
    }
}

.services-info {
    padding: 2rem 1rem;
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Changa', sans-serif;

    &:first-child {
        padding-top: 4rem;
    }

    &__header {
        text-align: center;
    }

    &__title {
        color: #007ebe;
    }

    &__description {
        margin-top: .5rem;
        font-weight: bold;
    }

    &__body {
        margin-top: 2rem;
    }

    &__list-title {
        font-size: 1.25rem;
        font-weight: bold;
    }

    &__list {
        list-style-type: disc;
        margin-left: 1rem;
    }

    &__list-item {
        margin-top: 0.5rem;
    }

    &__paragraph {
        margin-top: 0.5rem;
    }

    &__feature {
        text-transform: uppercase;
    }
}

@media (min-width: 1024px) {
    .services-info {
        display: flex;
        max-width: none;
        margin: 0;
        padding: 0;
        &__content-container {
            flex-basis: 47%;
        }        
        &__image {
            flex-basis: 53%;
            background-position: 50% 50%;
            background-size: cover;
            &-1 {
                background-image: url('../images/Uslugi-serwis-komputerowy/1.jpg');
            }
            &-2 {
                background-image: url('../images/Uslugi-serwis-komputerowy/2.jpg');
            }
            &-3 {
                background-image: url('../images/Uslugi-serwis-komputerowy/3.jpg');
            }
            &-4 {
                background-image: url('../images/Uslugi-monitoring/3.jpg');
            }
            &-5 {
                background-image: url('../images/Uslugi-monitoring/2.jpg');
            }
            &-6 {
                background-image: url('../images/Uslugi-monitoring/1.jpg');
            }
            &-7 {
                background-image: url('../images/Uslugi-telewizja/1.jpg');
            }
            &-8 {
                background-image: url('../images/Uslugi-telewizja/3.jpg');
            }
            &-9 {
                background-image: url('../images/O-nas/1.jpg');
            }
            &-10 {
                background-image: url('../images/O-nas/2.jpg');
            }
        }
        &__content {
            text-align: left;
            max-width: 435px;
            margin: 0 auto;
            padding: 4rem 1rem;
        }
        &__header {
            text-align: left;
        }

        &:nth-child(even) {
            flex-direction: row-reverse;
        }
    }
}

.price-list {
    text-align: center;
    width: 100%;
    font-family: 'Changa', sans-serif;
    border-collapse: collapse;

    &-container {
        margin: 4rem auto;
        padding: 0 1rem;
        max-width: 1400px;
    }

    &__title {
        text-align: left;
        margin-bottom: 2rem;
        color: #007ebe;
        font-size: 1.75rem;
    }

    & th,
    & td {
        padding: 1rem;
        width: 50%;
        border: 1px dashed #007ebe;
    }

    & th {
        background-color: #007ebe;
        color: #ffffff;
        font-weight: normal;

        &:nth-child(even) {
            background-color: #01486b;
        }
    }

    & td {
        background-color: #ffffff;
    }
}

.manufacturers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;

    &__item {
        height: 200px;
        padding: 2rem;
    }
}

.solutions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    max-width: 1400px;
    margin: 4rem auto;

    &__image {
        width: 100%;
        max-width: 450px;
        padding: 1rem;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }
}

@media (min-width: 768px) {
    .solutions {
        flex-direction: row;
        &__image {
            width: auto;
            height: 200px;
        }
    }
}

.testimonials {
    display: grid;
    column-gap: 1rem;
    row-gap: 2rem;
    justify-content: center;
    padding: 0 1rem;
    margin: 4rem 0;
    font-family: 'Changa', sans-serif;

    &__item {
        text-align: center;
        padding: 4rem 2rem;
        max-width: 400px;
        border-radius: 10px;
        background-color: #ffffff;
    }

    &__author {
        font-size: 1.75rem;
        color: #007ebe;
        font-weight: bold;
    }

    &__content {
        margin-top: 2rem;
    }
}

@media (min-width: 1024px) {
    .testimonials {
        grid-template-columns: 400px 400px;
    }
}

@media (min-width: 1536px) {
    .testimonials {
        grid-template-columns: 400px 400px 400px;
    }
}

.post-teaser {
    text-align: center;
    margin: 2rem 0;
    font-family: 'Changa', sans-serif;

    &__image {
        width: 100%;
    }

    &__content {
        margin: 0 auto;
        padding: 2rem 1rem;
        max-width: 800px;
    }

    &__title {
        max-width: 650px;
        color: #01486b;
    }

    &__date {
        display: block;
        margin-top: 2rem;
        color: #636464;
    }

    &__body {
        margin-top: 1rem;
    }

    &__btn {
        margin-top: 2rem;
    }
}

@media (min-width: 1024px) {
    .post-teaser {
        display: flex;
        align-items: center;
        text-align: left;

        &__image {
            width: 50%;
            height: auto;
        }
        
        &__content {
            padding: 2rem;
        }
    }
}

.dot-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
    &__item {
        height: 0.75rem;
        width: 0.75rem;
        margin: 0 .5rem;
        border-radius: 100px;
        background-color: #636464;
        opacity: .25;

        &--active {
            background-color: #007ebe;
            opacity: 1;
        }
    }
}

.post-header {
    text-align: center;
    padding-top: 7rem;
    margin: 0 auto;
    max-width: 1200px;

    &__image {
        width: 100%;
    }

    &__title {
        max-width: 800px;
        margin: 2rem auto 0;
        padding: 1rem;
        font-size: 1.5rem;
    }

    &__date {
        color: #636464;
    }
}

@media (min-width: 768px) {
    .post-header {
        &__title {
            font-size: 2.5rem;
        }
    }
}

@media (min-width: 1024px) {
    .post-header {
        padding-top: 13rem;
    }
}

.post {
    text-align: center;
    max-width: 1000px;
    padding: 0 1rem;
    margin: 2rem auto;
    font-family: 'Changa', sans-serif;

    &__heading {
        margin: 1rem;
    }

    &__paragraph {
        margin: 0.5rem;
    }

    &__btn {
        margin-top: 4rem;
    }
}

.related-posts {
    text-align: center;
    margin: 4rem auto;
    max-width: 1200px;

    &__heading {
        font-size: 2rem;
    }

    &__container {
        margin-top: 2rem;
    }

    &__item {
        margin: 1rem auto;
        padding: 1rem;
        max-width: 400px;
        font-family: 'Changa', sans-serif;
    }

    &__image {
        width: 100%;
    }

    &__title {
        font-weight: normal;
    }

    &__date {
        display: block;
        margin-top: .5rem;
        color: #636464;
    }
}

@media (min-width: 768px) {
    .related-posts {
        &__container {
            display: flex;
        }
    }
}

.product {
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
    padding: 2rem 1rem;
    font-family: 'Changa', sans-serif;

    &:first-child {
        margin-top: 4rem;
    }

    &__showcase {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 4px;
        background-color: #ffffff;
    }

    &__image {
        padding: 1rem;
        height: 300px;
    }

    &__btn {
        align-self: stretch;
    }

    &__info {
        margin-top: 1rem;
    }

    &__name {
        color: #007ebe;
    }

    &__content {
        margin-top: 1rem;
    }

    &__paragraph {
        margin-top: 0.5rem;
    }

    &__list {
        text-align: left;
        list-style: inside disc;
        color: #01486b;
    }

    &__item {
        margin-top: 1rem;
    }

    &__emphasis {
        color: #01486b;
        font-weight: bold;
    }

    &__heading {
        margin-top: 1rem;
        color: #01486b;
    }
}

@media (min-width: 1024px) {
    .product {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        text-align: left;
        max-width: 1200px;
        margin: 0 auto;

        &:nth-child(even) {
            flex-direction: row;
        }
        &__showcase {
            flex-grow: 1;
            margin: 2rem;
        }
        &__info {
            width: 50%;
            max-width: 500px;
            margin: auto;
        }
        &__content {
            height: 250px;
            overflow: auto;

            &::-webkit-scrollbar {
                width: 3px;
            }
            
            &::-webkit-scrollbar-thumb {
                border-radius: 50px;
            }
            &::-webkit-scrollbar-thumb{
                background-color: rgba(0, 126, 190, .5);
            }
        }
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
}
::-webkit-scrollbar-thumb{
    background-color: #007ebe;
}

.statute {
    max-width: 1200px;
    margin: 4rem auto;
    padding: 2rem;
    font-family: 'Changa', sans-serif;

    &__item {
        margin-top: 0.5rem;

        &::marker {
            font-size: 2rem;;
        }
    }
}

.maps {
    max-width: 1400px;
    margin: 4rem auto;
    padding: 1rem;

    &__item {
        padding: 1rem;
    }

    & iframe {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .maps {
        display: flex;

        &__item {
            flex-grow: 1;
        }
    }
}

.contact {
    max-width: 1400px;
    margin: 0 auto;
    font-family: 'Changa', sans-serif;
    
    &-container {
        background-color: #01486b;
    }

    &__info {
        padding: 2rem;
        color: #0cb0ff;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        max-width: 400px;
        margin: 0 auto;
    }
    
    &__content {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 0.5rem;
    }

    &__image {
        width: 100px;
    }
}

.form {
    padding: 2rem;

    &__group {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 600px;
        margin: 0 auto;
    }

    &__label {
        display: none;
    }

    &__input,
    &__textarea {
        width: 100%;
        padding: .5rem;
        margin: .25rem 1rem;
        border: none;
        outline-color: #007ebe;
        font-family: 'Lato', sans-serif;
    }

    &__btn {
        border: none;
        align-self: flex-start;
        justify-self: flex-start;
        margin-top: 0.25rem;
        margin-left: 1rem;
        margin-right: auto;
        outline-color: #007ebe;
    }
}

@media (min-width: 1024px) {
    .contact {
        display: flex;
        align-items: center;

        &__info {
            flex-grow: 1;
        }
    }

    .form {
        flex-grow: 1;
    }
}

@media (min-width: 1440px) {
    .contact {
        &__item {
            flex-direction: row;
            justify-content: space-between;
            margin-left: 0;
        }
        &__body {
            width: 50%;
        }
    }
}