* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

body {
    background-color: #f7f6f6;
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
}

.btn {
    padding: .5rem 2rem;
    min-width: 12rem;
    display: inline-block;
    border-radius: 4px;

    &--primary {
        background-color: #01486b;
        color: #ffffff;
    }

    &--secondary {
        background-color: transparent;
        border: 2px solid #ffffff;
    }
}

.nav {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Changa', sans-serif;
    height: 80px;
    width: 100%;
    padding: 1rem;
    background-color: #ffffff;
    color: #01486b;
    z-index: 10;

    &__menu {
        display: flex;
        flex-direction: column;
        height: 65%;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__list {
        flex-grow: 1;
        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    &__contact-info {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 30%;
    }

    &__contact {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    &__contact-item {
        display: flex;
        align-items: center;
    }

    &__contact-link {
        margin-left: 1rem;
    }

    &__social-media {
        flex-grow: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
}

.nav--active {
    height: 100vh;

    & .nav {
        &__list {
            display: flex;
        }

        &__contact-info {
            display: flex;
        }
    }
}

@media (max-height: 500px) {
    .nav--active {
        & .nav {
            &__menu {
                height: 100%;
            }

            &__contact-info {
                display: none;
            }
        }
    }
}

.logo {
    width: 12rem;

    &-container {
        display: flex;
    }

    &-link {
        display: flex;
    }
}

@mixin hamburger-line() {
    position: absolute;
    height: 0.25rem;
    width: 100%;
    background-color: #01486b;
    border-radius: 1rem;
}

.hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: none;

    &__inner {
        @include hamburger-line();
        position: relative;
    }

    &__inner::before {
        @include hamburger-line();
        content: '';
        bottom: .5rem;
        left: 0;
    }

    &__inner::after {
        @include hamburger-line();
        content: '';
        top: .5rem;
        left: 0;
    }
}

.hamburger--active {
    & .hamburger {
        &__inner {
            background-color: transparent;
        }

        &__inner::before {
            bottom: 0;
            transform: rotate(45deg);
        }

        &__inner::after {
            top: 0;
            transform: rotate(-45deg);
        }
    }
}

.banner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    height: calc(100vh + 8rem);
    color: #ffffff;

    &::before {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: url('../images/Banner-homepage.png') center;
        background-size: cover;
        z-index: -2;
    }

    &::after {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #000000;
        opacity: .7;
        z-index: -2;
    }

    &__title {
        position: absolute;
        top: calc(50vh - 40px);
        width: 100%;
        padding: 0 1rem;
        font-size: 2rem;
        text-transform: uppercase;
    }

    &__title::before {
        content:'';
        top: 50%;
        left: 0;
        width: 100%;
        height: 12rem;
        position: absolute;
        background-color: #0cb0ffbf;
        transform: translateY(-50%);
        z-index: -1;
    }

    &__contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
        margin-top: 50%;
        width: 16rem;
        background-color: #0cb0ffbf;
        padding: 1rem;
        border-radius: 50px 0 0 50px;
    }
}

@media (min-height: 500px) {
    .banner {
        height: 100vh;
        &__contact {
            display: flex;
        }
    }
}

.section {
    padding: 4rem 1rem 0;
    text-align: center;

    &__title {
        color: #007ebe;
    }

    &__body {
        margin-top: 2rem;
    }
}

.services {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;

    &__list-title {
        margin-bottom: 2rem;
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 2rem 1rem;
        background-color: #007ebe;

        &-image {
            padding: 0 2rem;
            width: 12rem;
        }

        &-body {
            max-width: 400px;
        }

        &-title {
            margin-top: 1rem;
            color: #01486b;
            text-transform: uppercase;
        }

        &-content {
            margin-top: 1rem;
            color: #ffffff;
        }
    }

    &__item:nth-child(even){
        background: #01486b;

        & .services__item-title {
            color: #007ebe;
        }
    }
}

@media (min-width: 768px) {
    .services {
        &__item {
            flex-direction: row-reverse;
            text-align: right;
            justify-content: flex-start;
            width: 50%;
            min-width: 300px;
            border-radius: 0 125px 125px 0;

            &-title {
                margin-top: 0;
            }
        }
        &__item:nth-child(even) {
            flex-direction: row;
            align-self: flex-end;
            text-align: left;
            border-radius:125px 0 0 125px;
        }
        &__item:nth-child(4n),
        &__item:nth-child(4n+1) {
            background-color: #007ebe;
            & .services__item-title {
                color: #01486b;
            }
        }
        &__item:nth-child(4n+2),
        &__item:nth-child(4n+3) {
            background: #01486b;
            & .services__item-title {
                color: #007ebe;
            }
        }
    }
}

.statistics {
    margin-top: 1rem;
    
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 1rem;

        &-content {
            display: flex;
            flex-direction: column;
        }

        &-value {
            margin-top: 1rem;
        }
    }
}

@media (min-width:768px) {
    .statistics {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__item {
            flex-grow: 1;
            flex-direction: row;
            justify-content: space-between;
            text-align: left;
        }
        &__item:nth-child(2) {
            flex-direction: row-reverse;
            text-align: right;
        }
    }
}

.why-us,
.contact-us {
    max-width: 800px;
    margin: 0 auto;
}

.why-us {
    padding-bottom: 4rem;
    &__btn {
        margin-top: 2rem;
    }
}

.features {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 0;

    &::before {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: url('../images/Banner-homepage-feature.png');
        background-size: cover;
        z-index: -2;
    }

    &::after {
        content:'asdf';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #000000;
        opacity: .7;
        z-index: -1;
    }

    &__container {
        padding: 4rem 1rem;
        background-color: #0cb0ffbf;
        color: #ffffff;
    }

    & .section__title {
        color: #ffffff;
    }

    &__btn {
        margin-top: 2rem;
    }
}

@media (min-width: 768px) {
    .features {
        &__container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            max-width: 450px;
            padding: 0 7rem 0 4rem;
            margin-right: calc(15vw - 3rem);
            height: 800px;
        }
        &__btn {
            text-align: center;
        }
    }
}



.contact-us {
    padding: 2rem 1rem 2rem;

    &__address {
        display: block;
    }

    &__btn {
        margin-top: 2rem;
    }
}

.media {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem 2rem;
    background-color: #ffffff;

    &__social-media {
        margin-top: 2rem;
    }
}

.social-media {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.copyright {
    padding: 1rem;
    text-align: center;
    background-color: #636464;
    color: #ffffff;
}