* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

body {
    background-color: #f7f6f6;
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
}

.btn {
    padding: .5rem 2rem;
    min-width: 12rem;
    display: inline-block;
    border-radius: 4px;

    &--primary {
        background-color: #01486b;
        color: #ffffff;
    }

    &--secondary {
        background-color: transparent;
        border: 2px solid #ffffff;
    }
}

.nav {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Changa', sans-serif;
    height: 80px;
    width: 100%;
    padding: 1rem;
    background-color: #ffffff;
    color: #01486b;

    &__menu {
        display: flex;
        flex-direction: column;
        height: 65%;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__list {
        flex-grow: 1;
        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    &__contact-info {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 30%;
    }

    &__contact {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    &__contact-item {
        display: flex;
        align-items: center;
    }

    &__contact-link {
        margin-left: 1rem;
    }

    &__social-media {
        flex-grow: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
}

.nav--active {
    height: 100vh;

    & .nav {
        &__list {
            display: flex;
        }

        &__contact-info {
            display: flex;
        }
    }
}

.logo {
    width: 12rem;

    &-container {
        display: flex;
    }

    &-link {
        display: flex;
    }
}

@mixin hamburger-line() {
    position: absolute;
    height: 0.25rem;
    width: 100%;
    background-color: #01486b;
    border-radius: 1rem;
}

.hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: none;

    &__inner {
        @include hamburger-line();
        position: relative;
    }

    &__inner::before {
        @include hamburger-line();
        content: '';
        bottom: .5rem;
        left: 0;
    }

    &__inner::after {
        @include hamburger-line();
        content: '';
        top: .5rem;
        left: 0;
    }
}

.hamburger--active {
    & .hamburger {
        &__inner {
            background-color: transparent;
        }

        &__inner::before {
            bottom: 0;
            transform: rotate(45deg);
        }

        &__inner::after {
            top: 0;
            transform: rotate(-45deg);
        }
    }
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-image: url('/images/Banner-homepage.png');
    color: #ffffff;

    &__title {
        text-transform: uppercase;
    }

    &__contact {
        display: flex;
        flex-direction: column;
        margin-top: 50%;
        margin-bottom: 1rem;
    }
}

.section {
    padding: 4rem 1rem 0;
    text-align: center;

    &__title {
        color: #007ebe;
    }

    &__body {
        margin-top: 2rem;
    }
}

.services {
    padding-left: 0;
    padding-right: 0;

    &__list-title {
        margin-bottom: 1rem;
    }

    &__item {
        padding: 2rem 1rem;
        background-color: #007ebe;

        &-title {
            margin-top: 1rem;
            color: #01486b;
            text-transform: uppercase;
        }

        &-content {
            margin-top: 1rem;
            color: #ffffff;
        }
    }

    &__item:nth-child(2n) {
        background: #01486b;

        & .services__item-title {
            color: #007ebe;
        }
    }
}

.statistics {
    margin-top: 1rem;
    
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 1rem;

        &-value {
            margin-top: 1rem;
        }
    }
}

.why-us {
    padding-bottom: 4rem;
    &__btn {
        margin-top: 2rem;
    }
}

.features {
    padding: 0;
    background-image: url('/images/Banner-homepage-feature.png');

    &__container {
        padding: 4rem 1rem;
        background-color: #007ebe;
        color: #ffffff;
    }

    & .section__title {
        color: #ffffff;
    }

    &__btn {
        margin-top: 2rem;
    }
}

.contact-us {
    padding: 2rem 1rem 2rem;

    &__address {
        display: block;
    }

    &__btn {
        margin-top: 2rem;
    }
}

.media {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem 2rem;
    background-color: #ffffff;

    &__social-media {
        margin-top: 2rem;
    }
}

.social-media {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.copyright {
    padding: 1rem;
    text-align: center;
    background-color: #636464;
    color: #ffffff;
}